
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.card-header {
  /* background-image: url("./img/bg-image.png"); */
  background-image: url("../src/img/bg-image.png");
  background-color: #ce3857;
  /* height: 64px; */
}
.card-container {
  /* background-image: url("./img/bg-image.png"); */
  background-image: url("../src/img/bg-image.png");
  background-color: #ce3857;
  /* height: 64px; */
}
.card-custom .list-group-item {
  padding: 20px 0px !important;
}

.w-100.textboxWithoutRight {
  height: 40px;
}
.search input[type=text], input[type=password], textarea, select {
  border: 1px solid #bbb;
  margin: 0px;
  padding: 5px 8px;
  font-size: 14px;
  font-family: 'Poppins-Regular', sans-serif;
  outline: 0;
  /* width: 100%; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  background: #fff;
  /* resize: none; */
}

